@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ededed;
  --lando-yellow: #D4F711;
  --lando-dark: #111111;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-lando: var(--lando-yellow);
  --color-dark-surface: var(--lando-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

::selection {
  background-color: var(--lando-yellow);
  color: #000000;
}
